# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\플러그인\인텔리제이\GenWars\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
